@model Service

<main>
   <div style="padding:150px 50px">
        <img width="400" src="~/assets/img/@Model.Image" /><br />
        <h1>
            @Model.Title
        </h1>
        <p>@Model.Desc</p>
   </div>
</main>